<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <bean id="departmentbean"
		class="com.simplilearn.spring.autowiring.bean.Department">
		<property name="id" value="1"></property>
		<property name="name" value="IT"></property>
	</bean> -->
	<bean id="department"
		class="com.simplilearn.spring.autowiring.bean.Department">
		<property name="id" value="2"></property>
		<property name="name" value="HR"></property>
	</bean>
	<!-- <bean id="employeebean"
		class="com.simplilearn.spring.autowiring.bean.Employee"
		autowire="byName">
		<property name="id" value="1"></property>
		<property name="name" value="Sam"></property>
	</bean> -->
	
	<bean id="employee1"
		class="com.simplilearn.spring.autowiring.bean.Employee"
		autowire="byName">
		<property name="id" value="1"></property>
		<property name="name" value="Sam"></property>
	</bean>
	<bean id="employee2"
		class="com.simplilearn.spring.autowiring.bean.Employee"
		autowire="byType">
		<property name="id" value="2"></property>
		<property name="name" value="John"></property>
	</bean>
</beans>